.form-control{
    width: 500px;
}

body{
    width: 100%;
}

.btn1{
    border: solid 1px wheat;
    background-color: white;
    border-radius: 5px;
    
}

form{
    /* aut */
}

.bi{
    /* font-size: x-large; */
}

.flip{
    font-style: italic;
    font-size: x-large;
    color: blue;

}

.flip1{
    font-style: italic;
    text-decoration:aliceblue;
    font-size: large;
    color: silver;
}

.plus{
    font-size: small;
    color:rgb(239, 190, 11);
    font-style: italic;
}

.navbar{
    border-bottom: solid 10px whitesmoke;
}

.image{
    width: 80px;
    margin: 22px;
    /* border: solid 5px whitesmoke; */
}

.container-fluid1{
    background-color: whitesmoke;
    width: 95%;
    
}

.slide{
    background-color: whitesmoke;
    width: 95%; 
    margin-left: 50px;
    border-bottom: solid 10px whitesmoke;
}

.bank{
    /* margin-left: -100px; */
    width: 95%;
    margin-left: 50px;
}

.phone{
    display: flex;
    margin-left: 50px;
    width: 95%;
}

.phone1{
    height: 220px;

    
}
.kart1{
    display: none;
}

.kart2{
    display: none;
}

.head{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    
}









   @media(max-width:996px){
            
        .head{
        
        color : white;
       width:90%;
       
     
            
    }

    .container-fluid1{
        /* height: 120px; */
        /* background-color: aqua; */
        
    
    }

    .phone1{
        
        height: 100px;
        margin-bottom: 10px;
        display: block;
        

    }

    .flip{
        /* font-size: xx-large; */
        /* margin-left: 200px; */
        display: none;
    }
    .flip1{
        /* font-size: x-large; */
        /* margin-left: 200px; */
        display: none;
    }

    .plus{
        display: none;
    }
    .kart1{
        display:block;
        background-color: blue;
        width: 130px; 
        padding: 15px;
        border-radius: 10px;
        /* margin-left: -50px; */
    
    }

    .kart2{
        display: block;
        background-color: silver;
        width: 120px; 
        padding: 15px;
        border-radius: 10px;
        margin-bottom: 10px;
    
    }
    .phone{
      display: block;
      width: 100%;
    }

    

}

    @media(min-width:480px){
        .phone1{
        
            /* height: 300px; */
            /* margin-bottom: 10px; */
            /* display: inline; */
    
        }
 
    }